{% extends 'base.html.twig' %}

{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
    {% for program in actor.programs %}
    <li>{{ program.title }}</li>
{% endfor %}
    <a href="{{ path('actor_index') }}">
        Retour à la liste des acteurs
    </a>
{% endblock %}